       
        #content{
            padding-top: 60px;
         }
         
         .carouselExampleSlidesOnly{
             height: 500px;
         }
         .carousel-inner{
             height: 500px;
 
         }
         .cards{
             background-color: rgb(117, 18, 18);
             width: 250px;
             padding: 30px;
             margin-top: 10px;
         }
         .cards:hover{
             transform: scale(1.15);
             transition: 300ms;
         }